
body{
height: 3000px;
background-size: 80px;
background-color: rgba(215, 221, 25, 0.247);


}
#cabecera{
    background-image: url(/assets/logoPajaro.jpg);
    background-repeat: no-repeat;
    background-color: white;
    padding: 20px;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
}

/* para el menu cabecera*/
#menu-cabecera{
margin-top: 1%;
margin-left: 55%;

}

ul, li{
    list-style: none;
}


.nav li a{
background-color: white;
text-decoration: none;
color: black;
padding:10px 15px;
display: block;
border-radius: solid black 1px;


}


    
.nav> li{
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover >ul{
display: block;
}


/*.menu-arriba{
    margin-right: 2%;
    padding: 10px;
    border-radius:   10px;
    text-decoration: none;
    transition: transform .2s;

}*/

.menu-arriba:hover{
    background-color: rgb(100, 100, 100);
    transition: 0.4s;

}
.nav li ul a:hover{
    background-color: rgb(100, 100, 100);
    transition: 0.4s;
    
}





/* hasta aqui es el menu*/


#idioma{
display: flex;
margin-left: 25px;
position: absolute;
top: 10px;
right: 150px;

}

#euskera{
    width: 35px;
    height: 20px;
    margin-left: 4px;
    transition: 0.4s;
}

#euskera:hover{
    transform: scale(1.2);
}

#espana{
    width: 35px;
    height: 20px;
    transition: 0.4s;
}

#espana:hover{
    transform: scale(1.2);
}


#menuMedi{
    transition: transform .2s;
    background-color: white;
    border: 1px solid #000;
    border-radius: 15px;
    position: absolute;
    top: 140px;
    left: 200px;
    width: 1500px;
    height: 900px;
    justify-content: center;
    align-items: center;
   
}

#menuMediContenido{
    margin-left: 10px;
}



#menuDer:hover{
    transform: scale(1.1);
}

#estudiar2{
    font-family: Arial, Helvetica, sans-serif;
   
}

#estudiar2 > h1{
    margin-left: 40px;
}
/* esta parte es de estudiar en plaiaundi

#estudiar{
    width: 800px;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#ciclos a, #formacion a{
    color: black;
    text-decoration: none;
}

/*ul{
    opacity: 0;
}
#formacion p{
    opacity: 0;
}


#ciclos:hover ul{
    opacity: 1;
    width: 400px;
    border: 1px black solid;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
    text-decoration: none;
    list-style:none;
    transition: .5s;
}
#formacion:hover p{
    opacity: 1;
    border-radius: 15px;
    padding: 5px;
    margin-left: 5px;
    width: 400px;
    border: 1px black solid;
    background-color: white;
    justify-content: left;
    transition: .5s;

}

*/



/* hasta aqui "que estudiar"*/
#imagenLogo{
    background-image: url(/assets/logo.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: 250px;
    margin-left: 83%;
    position: relative;
    opacity: 0.7;
}

#lanbide{
    position: relative;
    top: -270px;
    left: 50px;
    width: 320px;
}

#tramites{
    position: relative;
    top: -450px;
    left: 400px;
    width: 330px;
}

#notasDeCorte{
    position: relative;
    top: -660px;
    left: 750px;
    width: 250px;
}

#logoPlaia{
   position: absolute;
   top: 30px;
   left: 400px;
}

#menuHerr{
display: flex;
align-items: center;
justify-content: flex-start;
margin-top: -25px;

}