body{
width: 1900px;
height: 3000px;
background-size: 80px;

}
#cabecera{
    background-image: url(/assets/logoPajaro.jpg);
    background-repeat: no-repeat;
    background-color: white;
    padding: 50px;
    position: fixed;
    z-index: 1;
    width: 94%;
    left: 0;
    top: 0;
}
#menu-cabecera{
margin-left: 55%;
}

.menu-arriba {
    margin-right: 2%;
    background-color: white;
    padding: 10px;
    border-radius:   10px;
    text-decoration: none;
    color: black;
    transition: transform .2s;
    


}

.menu-arriba:hover{
    background-color: rgb(100, 100, 100);

}

#idioma{
display: flex;
margin-left: 25px;
position: absolute;
top: 10px;
right: 150px;

}

#euskera{
    width: 35px;
    height: 20px;
    margin-left: 4px;
}

#espana{
    width: 35px;
    height: 20px;
}

#menuIzq{
    transition: transform .2s;
    position: absolute;
    left: 25px;
    top: 200px;
    border: 1px solid #000;
    border-radius: 15px;
    height: 550px;
    width: 350px;
    background-color: aliceblue;
}

#menuIzq:hover{
    transform: scale(1.1);
}

/*Twitter*/
#menuTweeter{
    transition: transform .2s;
    position: absolute;
    left: -352px; /*-300*/
    top: 200px;
    border: 1px solid #000;
    border-radius: 15px;
    height: 550px;
    width: 350px;
    background-color: aliceblue;
    transition: 0.3s;
}
#menuTweeter>img{
    transition: 0.3s;
    width: 50px;
    position: absolute;
    right: -40px;
}

#menuTweeter:hover{
    transition: 0.3s;
    left: 0.5px;
}


/*Instagram*/

#menuTweeter{
    transition: transform .2s;
    position: absolute;
    left: -352px; /*-300*/
    top: 200px;
    border: 1px solid #000;
    border-radius: 15px;
    height: 550px;
    width: 350px;
    background-color: aliceblue;
    transition: 0.3s;
}
#menuTweeter>img{
    transition: 0.3s;
    width: 50px;
    position: absolute;
    right: -40px;
}

#menuTweeter:hover{
    transition: 0.3s;
    left: 0.5px;
}







#menuMedi{
    transition: transform .2s;
    background-color: aliceblue;
    border: 1px solid #000;
    border-radius: 15px;
    position: absolute;
    top: 150px;
    left: 200px;
    width: 1500px;
    height: 900px;
    justify-content: center;
    align-items: center;
}

#menuDer:hover{
    transform: scale(1.1);
}



