@media(width < 1720px){

    body{
    overflow-x: hidden;
    
    }
    #menu-cabecera{
        margin-top: 2%;
        position: relative;
        transition: .2s;
        left: -400px;
        width: 100%;
    }
    
    #menuMedi{
        justify-content: flex-start;
        background-position: center;
    }
    
    #imagenLogo{
        margin-left: 80%;
    }

    }
    
    @media(width < 1450px){
        #imagenLogo{
            visibility: hidden;
        }
    }
    
    @media(width < 970px){
        body{
        overflow-x: hidden;
        height: 1200px;
        }

        .conteCarrousel{
            margin-left: -100px;
        }

        #menu-cabecera{
            margin-top: 2%;
            position: relative;
            transition: .2s;
            left: -400px;
            width: 100%;
        }
    
        #estudiar{
            display: block;
            margin-left: 25%;
        }
        #tituloEstudiar{
            margin-left: -50%;
        }
        #formacionTitulo{
            margin-left: -50%;
        }
    
        #contenidoFormacion{
            margin-left: -20%;
        }
    
        #ciclos{
            margin-left: 5%;
        }

        #ciclos>ul{
            margin-left: 5%;
        }
    
        #menu-cabecera{
        margin-right: 100px;
        }
        
        #menuMedi{
            justify-content: flex-start;
            background-position: center;
            height: 1000px;
        }

        }
    
        @media(width <= 810px){
            #formacion p{
                border-radius: 15px;
                height: 80%;
                width: 80%;
                padding: 5px;
                border: 1px black solid;
                background-color: white;
                justify-content: left;
                transition: .5s;
            
            }

            #contenidoFormacion{
                margin-left: -50px;
            }
            .nav li p{
                padding: 5px 7px;
                font-size: smaller;
                margin-top: 35px;
            }

            .nav{
                margin-left: 5%;
            }

            .nav li a{
                padding: 5px 6px;
                font-size: smaller;
            }
        }

        @media(width <= 740px){
            body{
                height: 1600px;
            }

            #menuMedi{
                height: 1400px;
            }

            #ciclos{
                margin-left: -1%;
            }

            #ciclos>ul{
                margin-left: -1%;
            }
            .nav{
                margin-left: 6%;
            }
            /*#menu-cabecera{
                width: 20px;
                justify-content: right;
                margin-top: 100px;
                margin-left: 250px;
            }*/

        }

        @media(width <= 641px){
            .nav{
                padding: 2px 3px;
                margin-left: 80px;
                width: 100%;
            }
        }

        @media(width <= 590px){
            .nav{
                margin-left: 115px;
                font-size: smaller;
                width: 100%;
            }
           
        }

        /*Modo Moviles*/
        @media(width <= 400px){
            body{
                height: 1900px;
            }

            #menuMedi{
                height: 1700px;
            }

        }