@media(width < 1720px){

    body{
    overflow-x: hidden;
    
    }
    #menu-cabecera{
    margin-top: 1%;
    position: relative;
    transition: .2s;
    left: -100px;
    margin-left: 40%;
    }
    
    #menuMedi{
        justify-content: flex-start;
        background-position: center;
    }
    
    }
    
    
    @media(width < 970px){
        body{
        overflow-x: hidden;
        height: 1200px;
        }

        .conteCarrousel{
            margin-left: -100px;
        }

        #menu-cabecera{
            margin-top: 2%;
            position: relative;
            transition: .2s;
            left: -400px;
            width: 100%;
        }
    
        #estudiar{
            display: block;
            margin-left: 25%;
        }
        #tituloEstudiar{
            margin-left: -50%;
        }
        #formacionTitulo{
            margin-left: -50%;
        }
    
        #contenidoFormacion{
            margin-left: -20%;
        }
    
        
    
        #menu-cabecera{
        margin-right: 100px;
        }
        
        #menuMedi{
            justify-content: flex-start;
            background-position: center;
            height: 1000px;
        }
        
        }
    
        @media(width <= 810px){
            #formacion p{
                border-radius: 15px;
                height: 80%;
                width: 80%;
                padding: 5px;
                border: 1px black solid;
                background-color: white;
                justify-content: left;
                transition: .5s;
            
            }

        }

        @media(width <= 740px){
            body{
                height: 1600px;
            }

            #menuMedi{
                height: 1400px;
            }

            #menu-cabecera{
                width: 20px;
                justify-content: right;
                margin-left: 350px;
            }


        }

        /*Modo Moviles*/
        @media(width <= 394px){
            body{
                height: 1900px;
            }

            #menuMedi{
                height: 1700px;
            }

        }