
/*Twitter*/
#menuTweeter{
    transition: transform .2s;
    left: -352px; /*-300*/
    top: 200px;
    border: 1px solid #000;
    border-radius: 15px;
    height: 550px;
    width: 350px;
    background-color: aliceblue;
    transition: 0.3s;
    z-index: 98;
    position: fixed;
}
#menuTweeter>img{
    transition: 0.3s;
    width: 50px;
    position: absolute;
    right: -40px;
}

#menuTweeter:hover{
    transition: 0.3s;
    left: 0.5px;
}



/*Instagram*/
#menuInstagram{
    transition: transform .2s;
    position: fixed;
    left: -260px;
    top: 280px;
    border: 1px solid #000;
    border-radius: 15px;
    height: 435px;
    width: 255px;
    background-color: aliceblue;
    transition: 0.3s;
    z-index: 97;
}

.elfsight-app-9a1c6728-d7ff-44d8-81ba-62be554a80bf{
margin-top: 5px;
margin-bottom: 2px;
margin-left: 5px;
}

#menuInstagram>img{
    transition: 0.3s;
    width: 50px;
    position: absolute;
    right: -45px;
}

#menuInstagram:hover{
    transition: 0.3s;
    left: 0.5px;
}



/*Contactanos*/
#menuContacto{
    transition: transform .2s;
    position: fixed;
    left: -260px;
    top: 360px;
    border: 1px solid #000;
    border-radius: 15px;
    height: 435px;
    width: 255px;
    background-color: aliceblue;
    transition: 0.3s;
    z-index: 96;
}
#menuContacto>img{
    transition: 0.3s;
    width: 50px;
    position: absolute;
    right: -45px;
}

#contactoContenido{
    margin-left: 5px;
}

#telefonoContacto{
    height: 15px;
}

#correoContacto{
    height: 15px;
}

#contactoContenido > p > b > a{
    text-decoration: none;
}

#menuContacto:hover{
    transition: 0.3s;
    left: 0.5px;
}

@media(width < 970px){
    #menuTweeter{
        top: 150px;
        left: 100%;

    }
    #menuTweeter>img{
        right: 98%;
        transform: scaleX(-1);
    }
    #menuTweeter:hover{
        left: 63%
    }

    #menuInstagram{
        left: 100%;
        top: 230px;
    }
    #menuInstagram>img{
        right: 98%;
    }
    #menuInstagram:hover{
        left: 73%
    }

    #menuContacto{
        left: 100%;
        top: 310px;
    }
    #menuContacto>img{
        right: 97%;
    }
    #menuContacto:hover{
        left: 73%;
    }
}

@media(width < 910px){

    #menuTweeter:hover{
        left: 60%
    }
    #menuInstagram:hover{
        left: 70%
    }
    #menuContacto:hover{
        left: 69.8%;
    }
}
@media(width <= 750px){
    #menuTweeter:hover{
        left: 52%
    }
    #menuInstagram:hover{
        left: 65%
    }
    #menuContacto:hover{
        left: 65%;
    }
}

/*Modo Moviles*/
@media(width <= 400px){
    #menuTweeter:hover{
        left: 12%
    }
    #menuInstagram:hover{
        left: 35.5%
    }
    #menuContacto:hover{
        left: 35%;
    }
}